@import 'resets';
@import 'size-variables';

body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow-x: hidden;
	overflow-y: hidden;
}

.body-container{
	flex: 1;
	//example: $example-variable;
	height: 100vH;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	transition: 1s, transform;
}

.storyboard-container{ 
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border : solid black 10px;
	height: 100vh;
	overflow: hidden;
}

.job-cell{
	border: dotted grey 10px;
	height: 100vH;
}

.job{
  transition: 2s, transform;
  height: 100vH; 
}

.job-content-title{
	height: 20vH;
	width: 80%;
	margin: 0 auto;
	border: dotted grey 5px;
	font-size: 40px;
	text-align: center;
	color: black;
	background-color: white;
}