@import 'resets';
@import 'size-variables';

body{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow-x: hidden;
	overflow-y: hidden;
}

.body-container{
	flex: 1;
	//example: $example-variable;
	height: 100vH;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	transition: 1s, transform;
}

.storyboard-container{ 
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	// border : solid black 10px;
	height: 100vh;
	overflow: hidden;
}

.job-cell{
	// border: dotted grey 10px;
	height: 100vH;
}

.job{
  transition: 2s, transform;
  height: 100vH;
  position: absolute; 
}

.job-content-title{
	height: 20vH;
	background-color: none;
	padding: 5vH;
	width: 80%;
	display: block;
	margin: -20vH auto 120vH auto;
	// border: dotted grey 5px;
	font-size: 40px;
	text-align: center;
	color: black;
}
.job-description-container{
	background-color: grey;
	border: dotted black 5px;
	margin: 0 auto;
	width: 80%;
	height: 20vH;
}
.job-description-content-skills{
	background-color: none;
	border-size: 5px;
	border: solid;
	border-color: rgba(0,0,0,0);
	margin-left: 33%;
	margin-right: 33%;
	margin-top:40vH;
	width: 26.5%;
	position: fixed;
	font-size: 28px;
}
.hidden{
	visibility: hidden;
}
.afterSkill{
	transition: opacity .5s ease;
	opacity: 1.0;
}
.beforeSkill{
	transition: opacity .5s ease;
	opacity: 1.0;
}
