@import 'resets';
@import 'size-variables';

body{
	// display: flex;
	// flex-direction: column;
	// justify-content: flex-start;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100vH;
}

.body-container{
	flex: 1;
	height: 100vH;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	transition: 1s, transform;

	// overflow-x: hidden;
	// overflow-y: hidden;
}

.storyboard-container{ 
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 100vH;
	overflow: hidden;
}

.job-cell{
	height: 100vH;
}

.job{
  height: 100vH;
  position: absolute; 
}

.job-content-title{
	// height: 20vH;
	background-color: none;
	padding: 5vH;
	width: 80%;
	display: block;
	margin: -20vH auto 120vH auto;
	font-size: 40px;
	text-align: center;
	color: black;
}
.job-description-container{
	background-color: grey;
	border: dotted black 5px;
	margin: 0 auto;
	width: 80%;
	height: 20vH;
}
.job-description-content-skills{
	background-color: none;
	border-size: 5px;
	border: solid;
	border-color: rgba(0,0,0,0);
	margin-left: 33%;
	margin-right: 33%;
	// margin-top:40vH;
	width: 26.5%;
	position: fixed;
	font-size: 28px;
	display: none;
	color: red;
	 // -webkit-transition: opacity 30s; For Safari 3.1 to 6.0
  //   transition: opacity 30s;
}
.hidden{
	visibility: hidden;
}
.afterSkill{
}
.beforeSkill{
	transition: opacity .5s ease;
	opacity: 1.0;
}
.color{
	transition: opacity .5s ease;
	opacity: 1.0;
}
